<footer>
	<hr style="size:3px">
	{% if site.twitter_username %}
		<p><a href="https://twitter.com/{{site.twitter_username}}" target='_blank'>@{{site.twitter_username}}</a></p>
	{% endif %}
		
	<div class="wrapper">			
		<div class="item-left">
			<i id="email-me" class="fa fa-envelope" aria-hidden="true"></i>
		</div>
		<div class="item-right">
			<p><i class="fa fa-print" aria-hidden="true"></i>
			<a href="{{site.extras}}" target='_blank'> Printer friendly version</a></p>
		</div>
	</div>
	<div class="wrapper">
		<div class="item-left">
			<span  id="last-commit" data-repo="ivli/ivli.github.io"></span>
		</div>
		<div class="item-right">
			<span> {{site.buildstatus | markdownify}} </span>
		</div>
	</div>	
	<div style="text-align: center">
		Saint Petersburg, RUSSIA
	</div></br></br>
</footer>
