
<div id="section-workexperience" class="panel panel-primary">
    <div class="panel-heading">
		<div>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<h2 class="panel-title"><i class="fa fa-briefcase" aria-hidden="true"></i>Work Experience</h2>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 hidden-xs" style="text-align: right;" aria-hidden="true">							
				<input id="pswitch" type="checkbox" class="js-switch" checked><span class="improve"> - show/hide projects</span>				
				<script>
					new Switchery(document.querySelector('#pswitch'), {size: 'small', color: '#333333', secondaryColor: '#555555', jackColor:'#f89610', jackSecondaryColor:'#f89610'});				
					$("#pswitch").change( function () {$(".pdesc").toggle();});
				</script>	
			</div>
		</div>
		</div>	
	</div>
	<div class="panel-body">		
		
		<div>
			<table class="table-condensed">
				<thead>
					<tr>
						<th><a style="cursor: pointer;">Title</a></th>
						<th class="hidden-sm hidden-xs"><a style="cursor: pointer;">Start Date</a></th>
						<th class="hidden-sm hidden-xs"><a style="cursor: pointer;">End Date</a></th>
						<th><a style="cursor: pointer;">Company</a></th>
						<th class="hidden-sm hidden-xs"><a style="cursor: pointer;">Description</a></th>
					</tr>
				</thead>
				<tbody>
					{% for role in site.data.roles %}
						<tr>
							<td>{{role.title}}</td>
							<td class="hidden-sm hidden-xs">{{role.start}}</td>
							<td class="hidden-sm hidden-xs">{{role.end}}</td>
							<td>
							{% assign companies = site.data.companies | where_exp: "item", "item.name contains role.employer" %}
							{% assign company = companies[0] %}
							{% if company != nil %}
								{% if company.url != nil %}<a href="{{company.url}}"> 
									{% if company.logo != nil %}<img src="{{company.logo}}" height="40" alt="{{company.name}}">  {% endif %}
									{{company.name}} </a> 
								{% else %}
									{{company.name}}
								{% endif %}
							{% else %}
								{{role.employer}}
							{% endif %}
							</td>
							<td class="hidden-sm hidden-xs">{{company.description}}</td>
						</tr>
						<tr class="pdesc"> 
							<td colspan="100%">								
								{% assign projects = site.data.projects | where_exp: "item", "item.employer == role.employer" %}
								{% for project in projects %}
									{% if project.role == nil or project.role == role.title %}										
										<div class="row">
										<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><ul><li>{{project.name}}</li></ul></div>
										<div class="col-lg-9 col-md-8 col-sm-6 hidden-xs">{{project.description}}</div>
										</div>										
									{% endif %}
								{% endfor %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
