{% if site.github %}
	<div id="section-projects-github" class="panel panel-primary">
		<div class="panel-heading">
			<h1 class="panel-title"> <i class="fa fa-github" aria-hidden="true"></i> Some projects I am Working On</h1>
		</div>
		<div class="panel-body" style="overflow: hidden;">
			<div>
				{% for project in site.github %}
					{% assign loopindex = forloop.index | modulo: 2 %}
					{% if loopindex == 1 %}
					<div class="row">
					{% endif %}
						<div class="col-lg-6">
							<div class="github-widget" data-repo="{{project}}"></div>
						</div>
					{% if loopindex == 0 %}
					</div>
					{% endif %}
				{% endfor %}
				{% if loopindex == 1 %}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
	<script async defer src="https://buttons.github.io/buttons.js"></script>
{% endif %}
