
<div class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1><i class="fa fa-briefcase" aria-hidden="true"></i> Work Experience</h1>
	</div>

	<div class="content-rounded-panel">		
		<div style="display: flex; justify-content: flex-end"  aria-hidden="true">			
			<i>show/hide projects - </i><input id="pswitch" type="checkbox" class="js-switch" checked> 						
		</div>

		<script>
				var switchery = new Switchery(document.querySelector('#pswitch'), { size: 'small' /*, secondaryColor: '#ff0000' */});
		</script>
		<script>
				$("#pswitch").change( function () {$(".pdesc").toggle();});
		</script>
		<div>
			<table class="table table-striped table-hover table-condensed">
				<thead>
					<tr>
						<th><a style="cursor: pointer;">Title</a></th>
						<th class="hidden-sm hidden-xs"><a style="cursor: pointer;">Start Date</a></th>
						<th class="hidden-sm hidden-xs"><a style="cursor: pointer;">End Date</a></th>
						<th><a style="cursor: pointer;">Company</a></th>
						<th class="hidden-sm hidden-xs"><a style="cursor: pointer;">Description</a></th>
					</tr>
				</thead>
				<tbody>
					{% for role in site.data.roles %}
						<tr>
							<td>{{role.title}}</td>
							<td class="hidden-sm hidden-xs">{{role.start}}</td>
							<td class="hidden-sm hidden-xs">{{role.end}}</td>
							<td>
							{% assign companies = site.data.companies | where_exp: "item", "item.name contains role.employer" %}
							{% assign company = companies[0] %}
							{% if company.url != nil %}<a href="{{company.url}}"> 
							{% if company.logo != nil %}<img src="{{company.logo}}" height="40" alt="{{company.name}}"> {% endif %}
							</a> 
							{% else %}
							{{company.name}}
							{% endif %}
							</td>
							<td class="hidden-sm hidden-xs">{{company.description}}</td>
						</tr>
						<tr class="pdesc"> 
							<td colspan="5">
								<table style="width:100%">
									<col style="width:25%">
									<col style="width:70%">
									{% assign projects = site.data.projects | where_exp: "item", "item.employer == role.employer" %}
									{% for project in projects %}
										{% if project.role == nil or project.role == role.title %}
										<tr>
											<td><ul><li>{{project.name}}</ul></td>
											<td>{{project.description}}</td>
										</tr>
										{% endif %}
									{% endfor %}
								</table>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
