<div id="section-intro" class="panel panel-primary">
	<div class="panel-heading">
		<h1 class="panel-title"><i class="fa fa-exclamation-triangle fa-rotate-180" aria-hidden="true"></i>Introduction</h1>
	</div>
	<div class="panel-body">
		<div style="display:flex; justify-content: space-around; flex-wrap: wrap">			
			<div style = "flex: 1 auto; align-self:center"><img src="img/igor.png" style="width:200px" alt="a photo of mine"></div> 
			<div style = "flex: 1 auto; align-self:center">{{site.data.intro | markdownify}}</div>							
		</div>
	</div>
</div>
