<!DOCTYPE html>
<html lang="en">
	{% include head.html %}	
	<body>
		<H2 class="title">Yet Another Not A Blog</H1>

		{% include jsimports.html %}
		{% include header.html %}
    
      
		<div class="panel-body" style="overflow: hidden;">
			<div class="col-4 col-offset-2">
            <!--div class="col-lg-6 col-md-6 col-sm-6 hidden-xs" style="text-align: right;" aria-hidden="true">       
					<a class="improve" href="http://prose.io/#ivli/ivli.github.io">
					<i class="fa fa-pencil"></i>edit post</a>
				</div-->    
		<div class="container">
			{{ content }}			
		</div>			
		{% include footer2.html %}
		</div>
		</div>
	</body>
</html>
